<!-- ALLOWOVERWRITE-9194C8E7AEB656C5861CBF8C2E6714C4 -->


 <form [formGroup]="addressForm" class="form-horizontal css-form" role="form" (ngSubmit)="update()">
        <mat-tab-group >        	
        	 <mat-tab label="Main">        	 
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
				    	            	    				
			                         <mat-form-field>                            
			                                <input matInput formControlName="addresLine2" id="addressAddresLine2" type="text" placeholder="AddresLine2"  required/>
									</mat-form-field>                       
			                        
        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
				    	            	    				
			                         <mat-form-field>                            
			                                <input matInput formControlName="addressExternalRef" id="addressAddressExternalRef" type="text" placeholder="AddressExternalRef"  required/>
									</mat-form-field>                       
			                        
        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
				    	            	    				
			                         <mat-form-field>                            
			                                <input matInput formControlName="addressLine1" id="addressAddressLine1" type="text" placeholder="AddressLine1"  required/>
									</mat-form-field>                       
			                        
        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
				    	            	    				
			                         <mat-form-field>                            
			                                <input matInput formControlName="addressLine3" id="addressAddressLine3" type="text" placeholder="AddressLine3"  required/>
									</mat-form-field>                       
			                        
        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
				    	            	    				
			                         <mat-form-field>                            
			                                <input matInput formControlName="city" id="addressCity" type="text" placeholder="City"  required/>
									</mat-form-field>                       
			                        
        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
				    	            	    				
			                         <mat-form-field>                            
			                                <input matInput formControlName="country" id="addressCountry" type="text" placeholder="Country"  required/>
									</mat-form-field>                       
			                        
        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
				    	            	    				
			                         <mat-form-field>                            
			                                <input matInput formControlName="postZipCode" id="addressPostZipCode" type="text" placeholder="PostZipCode"  required/>
									</mat-form-field>                       
			                        
        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
				    	            	    				
			                         <mat-form-field>                            
			                                <input matInput formControlName="stateCounty" id="addressStateCounty" type="text" placeholder="StateCounty"  required/>
									</mat-form-field>                       
			                        
        	 			</div>
        	 		</div>
			 </mat-tab>

        	 
    	
        	 
        	 
        	 </mat-tab-group>
   <div style="padding-top: 10px;">
	    <button mat-raised-button color="primary" ng-click="save()">Save</button>
   </div>
        	 
   </form>
