<!-- ALLOWOVERWRITE-17AB6E3818C495D9775DEAFCE164513E -->


 <form [formGroup]="entityForm" class="form-horizontal css-form" role="form" (ngSubmit)="update()">
        <mat-tab-group >        	
        	 <mat-tab label="Main">        	 
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
					
					 <div class="form-group">
					 		
                            <label for="entityAddress" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">

                                <select id="entityAddress" class="form-control" ng-model="entityView.addressAddressId" ng-options="address.addressId as address.postZipCode for address in addresss" required>
                                    <option value="">-- Choose Address --</option>
                                </select>
                            </div>
                       	</div>
                        

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="entityExternalRef" id="entityEntityExternalRef" type="text" placeholder="EntityExternalRef"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="logoURL" id="entityLogoURL" type="text" placeholder="LogoURL"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="name" id="entityName" type="text" placeholder="Name"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 		</div>
        	 
			 </mat-tab>

        	 
    		
    	<mat-tab label="Customer"> 
    				 <ngx-datatable
            class='material'
            [rows]='customerrows'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="40"
            [scrollbarV]="true"
            (page)="onPage($event)">
   						<ngx-datatable-column name="CustomerId" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="Name" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="PhoneNumber" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="EmalAddress" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="Active" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="IsCompany" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="CustomerExteranlRef" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="TaxNo" width="300"></ngx-datatable-column> 
   			<ngx-datatable-column name="Edit" width="300" prop="customerId">
      <ng-template let-value="value" ngx-datatable-cell-template>
      <button mat-icon-button	routerLink="/admin/customer/edit/{{value}}" color="primary"><mat-icon>edit</mat-icon></button>

    </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Delete" width="300" prop="customerId">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button mat-icon-button	(click)="deleteCustomer(value)" color="warn"><mat-icon>delete</mat-icon></button>

      </ng-template>
    </ngx-datatable-column>			
   			</ngx-datatable>
    				 <a mat-raised-button color="primary" href="/admin/customer/add?entityEntityId={{entityView.entityId}}">Add</a>
    		</mat-tab>	
    	
        	 
        	 
        	 </mat-tab-group>
   <div style="padding-top: 10px;">
	    <button mat-raised-button color="primary" ng-click="save()">Save</button>
   </div>
        	 
   </form>
